<div class="locationContainer">

    <div class="locationContainer__data">

        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Type: {{selectedLocation?.type}}</div>
            <div class="card-body">
                <h5 class="card-title">{{selectedLocation?.name}}</h5>
                <span class="card-text">Dimension: {{selectedLocation?.dimension}}</span><br/>
                <span class="card-text">Created: {{selectedLocation?.created | date: 'short'}}</span><br/>
                
                @if(selectedLocation?.residents?.length!==0){
                    <span class="card-text">Total Residents: {{selectedLocation?.residents?.length}} </span> 
                }
                
                @if(selectedLocation?.residents?.length===0){
                    <span class="card-text">Residents: No Residents</span>    
                }
            </div>
        </div>

        
  


    </div>

    <div class="locationContainer__residents">
        @if(selectedLocation?.residents?.length!==0){

            <h3>Residents</h3>

            <div class="locationContainer__residents-card">
                @for(resident of allResidents; track $index){
         
                    <button class="characterCard" type="button" [routerLink]="['/characterDetail/' + resident.id]"  >
                        <div class="card" >
                          <div class="card-img-overlay">
                            <span class="cardName">{{ resident.name }}</span>
                          </div>
                          <img class="cardImage" src="{{ resident.image }}" alt="{{ resident.name }}"  />
                        </div>
                    </button>
                }
            </div>
        }
    </div>
    
    
    
    <app-all-location-origins/>
</div>