.appBody{
    width: 90%;
    margin: auto;
    
   & .banner{
       margin-top: 40px;

       & img{
            min-width: 350px;
        }
        & .card-img-overlay{
    
            & h5{
                font-size: 2rem;
                top: 50%;
                margin-bottom: 0px;
            }           
        }
    }
}