.locationContainer{
    margin-top: 40px;
    
    & h3{
        text-align: center;
    }

    & .locationContainer__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        & .locationButton{
            border: none;
            background-color: transparent;
            
            & .card-body{
                height: 175px;
            }
        }

    }

}
