<div class="locationContainer">
    <h3>Locations</h3>

    <div class="locationContainer__body">

        @for(location of allLocations; track $index){
            <button class="locationButton" type="button" [routerLink]="['/location/' + location.id]" >   
            
                <div class="card border-dark mb-3" style="max-width: 18rem;" >
                    <div class="card-header">Type: {{location?.type}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{location?.name}}</h5>
                        <span class="card-text">Dimension: {{location?.dimension}}</span><br/>
                        <span class="card-text">Created: {{location?.created}}</span><br/>
                        <span class="card-text">Residents: {{location?.residents?.length}}</span><br/>
                    </div>
                </div>
        
            </button>

        }

    </div>
</div>


