<div class="locationContainer">
    <h3>Locations</h3>

    <div class="locationContainer__body">

        @for(location of allLocations; track $index){
            <button class="locationButton" type="button" [routerLink]="['/location/' + location.id]" routerLinkActive="router-link-active" >   
            
                <div class="card border-dark mb-3" style="max-width: 18rem;" >
                    <div class="card-header">Type: {{location?.type}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{location?.name}}</h5>
                        <span class="card-text">Dimension: {{location?.dimension}}</span><br/>
                        <span class="card-text">Created: {{location?.created}}</span><br/>
                        <span class="card-text">Residents: {{location?.residents?.length}}</span><br/>
                    </div>
                </div>
        
            </button>

            <!-- <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Info card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div> -->
        }

    </div>
</div>


