<div class="characterContainer">
  <h3>Characters</h3>
  <div class="characters">
    @for(character of characters; track $index){
      <button class="characterCard" type="button" [routerLink]="['/characterDetail/' + character.id]"  >
        <div class="card" >
          <div class="card-img-overlay">
            <span class="cardName">{{ character.name }}</span>
          </div>
          <img class="cardImage" src="{{ character.image }}" alt="{{ character.name }}"  />
        </div>
      </button>
    }
  </div>
  

  <div class="pages">
    <button
      class="btn btn-outline-primary"
      *ngFor="let e of [].constructor(totalPages); let i = index"
      [ngClass]="{'btn-primary': selectedPage == (i+1)}"
      (click)="goToPage(i+1)"
    >
      {{ i + 1 }}
    </button>
  </div>
  
  <div class="seeAllCharacterButton">
    <button type="button" class="btn btn-primary me-md-2" [routerLink]="['allCharacters']" >
      See all characters
    </button>
  </div>

</div>
