<section class='footer'>
    <div class='footer__container'>

        <div class="gitHubCode">
            <img src="../../../assets/github-white.png" alt="github logo" />
            <span>
                Mirá este código en
                <a href="https://github.com/GastonYasuda/presu-cuadros" target="_blank">github.com/GastonYasuda</a>
            </span>
        </div>


        <div class="linkedinLink">
            <img src="../../../assets/linkedin-logo.png" alt="linkedin logo" />
            <span>
                Mirá mi perfil en
                <!-- <Link to="https://www.linkedin.com/in/gaston-yasuda/" target="_blank"> linkedin.com/in/gaston-yasuda/ </Link> -->
            </span>
        </div>

        <div class="webLink">
            <img src="../../../assets/webLogo.png" alt="my web logo" />
            <span>
                Conocé mis proyectos en
                <!-- <Link to="https://gastonyasudaportfolio.netlify.app/" target="_blank"> gastonyasuda.netlify </Link> -->
            </span>
        </div>


    </div>
</section>