


<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" #scroll>
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="/assets/logoNavbar.png" alt="logo" />
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>      
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="router-link-active" [ngClass]="{'active': selectedMenu == 'home'}" (click)="selectMenu('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/allCharacters']" routerLinkActive="router-link-active" [ngClass]="{'active': selectedMenu == 'allCharacters'}" (click)="selectMenu('allCharacters')" >AllCharacters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/locations']" routerLinkActive="router-link-active" [ngClass]="{'active': selectedMenu == 'locations'}" (click)="selectMenu('locations')">Locations</a>
        </li>

      </ul>

      





      <form class="d-flex" [formGroup]="searchForm"  (submit)="searchCharacter($event)"  >
      
        <input type="text" class="form-control me-2"  formControlName="search" placeholder="Search by name or Id"/>
        
         <button type="submit" class="btn btn-outline-success" >
           Search
         </button>
        
        @if(hasErrors('search','required') ){
          <span class="text-danger">ERROR</span>
        }
        
      </form>






    </div>
  </div>
</nav>